{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container mt-5 flex-grow-1">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <h2>Bienvenido a</h2>
                <h1 class="mb-5"><strong>Salas Personas App</strong></h1>
                <p>
                    En Salas Plus nos dedicamos a la gestión y desarrollo inmobiliario, 
                    ofreciendo soluciones innovadoras y personalizadas para la administración de recursos humanos y mucho más. 
                </p>
                <p>
                    Nuestra plataforma ha sido diseñada para facilitar la gestión de empleados y mejorar la productividad en todos los niveles.
                </p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
