{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas Personas App</title>
    <link rel="stylesheet" href="{% static 'employees/css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="logo-container">
            <img src="{% static 'employees/images/logo_salas.png' %}"
            alt="Logo de Salas Plus">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <h1>Bienvenido a Salas</h1>
                <p>
                    En Salas Plus nos dedicamos a la gestión y desarrollo inmobiliario en Cataluña, 
                    ofreciendo soluciones innovadoras y personalizadas para la administración de recursos humanos y mucho más. 
                    Nuestra plataforma ha sido diseñada para facilitar la gestión de empleados y mejorar la productividad en todos los niveles.
                </p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    
    <!-- Agrega más contenido aquí -->

    <footer>
        <p>&copy; 2023 Salas Plus. Todos los derechos reservados.</p>
    </footer>
</body>
</html>